@tailwind base;
@tailwind components;
@tailwind utilities;

@plugin "@tailwindcss/typography";

@layer base {
  :root {
    --primary: 87 154 255;
    --primary-foreground: #f0f6ff;

    --secondary: 36 43 71;
    --secondary-foreground: #ffffff;

    --accent: 227 232 240;
    --accent-foreground: #2b2f3a;

    --muted: #e1e7ef;
    --muted-foreground: #6b7280;

    --background: #ffffff;
    --foreground: #1c1c28;

    --card: #ffffff;
    --card-foreground: #1c1c28;
    --popover: #ffffff;
    --popover-foreground: #1c1c28;
    --destructive: #e63946;
    --destructive-foreground: #f0f6ff;
    --border: #d1d5db;
    --input: #d1d5db;
    --ring: #1c1c28;
    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
    @apply box-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}

html {
  scroll-behavior: smooth;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: background-color 5000s ease-in-out 0s;
  -webkit-box-shadow: 0 0 0px 1000px var(--muted, #ffffff00) inset;
}

.gt-current-lang .gt-lang-code {
  top: 0px !important;
  font-size: 16px !important;
}

.gallery-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.gallery-grid .item {
    width: calc(20% - calc(20px * 4 / 5));
    position: relative;
}

.gallery-grid .item .inner {
    position: relative;
    padding-top: 100%;
    border-radius: 10px;
    overflow: hidden;
}

.gallery-grid .item img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.gallery-grid .item a {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: center;
}

.gallery-grid .item a svg {
    opacity: 0;
    transition: opacity 0.3s ease;
    width: 3rem;
    height: 3rem;
}

.gallery-grid .item a svg path {
    fill: #FFF;
}

.gallery-grid .item a::before {
    content: '';
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    font-size: 3rem;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    transition: opacity 0.3s ease;
}

.gallery-grid .item a:hover::before,
.gallery-grid .item a:hover svg {
    opacity: 1;
}

@media (max-width: 768px) {
    .gallery-grid .item {
        width: calc(50% - calc(20px * 2 / 3));
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    .gallery-grid .item {
        width: calc(33.33% - calc(20px * 3 / 4));
    }
}