@tailwind base;
@tailwind components;
@tailwind utilities;

@plugin "@tailwindcss/typography";

@layer base {
  :root {
    --primary: 87 154 255;
    --primary-foreground: #f0f6ff;

    --secondary: 36 43 71;
    --secondary-foreground: #ffffff;

    --accent: 227 232 240;
    --accent-foreground: #2b2f3a;

    --muted: #e1e7ef;
    --muted-foreground: #6b7280;

    --background: #ffffff;
    --foreground: #1c1c28;

    --card: #ffffff;
    --card-foreground: #1c1c28;
    --popover: #ffffff;
    --popover-foreground: #1c1c28;
    --destructive: #e63946;
    --destructive-foreground: #f0f6ff;
    --border: #d1d5db;
    --input: #d1d5db;
    --ring: #1c1c28;
    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
    @apply box-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}

html {
  scroll-behavior: smooth;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: background-color 5000s ease-in-out 0s;
  -webkit-box-shadow: 0 0 0px 1000px var(--muted, #ffffff00) inset;
}

.gt-current-lang .gt-lang-code {
  top: 0px !important;
  font-size: 16px !important;
}