@tailwind base;
@tailwind components;
@tailwind utilities;

@plugin "@tailwindcss/typography";

@layer base {
  :root {
    --background: #ffffff;
    --foreground: #1c1c28;
    --card: #ffffff;
    --card-foreground: #1c1c28;
    --popover: #ffffff;
    --popover-foreground: #1c1c28;
    --primary: #ffc60d;
    --primary-foreground: #f0f6ff;
    --secondary: #589bff;
    --secondary-foreground: #fff;
    --muted: #e2e8f0;
    --muted-foreground: #6b7280;
    --accent: #e2e8f0;
    --accent-foreground: #2b2f3a;
    --destructive: #e63946;
    --destructive-foreground: #f0f6ff;
    --border: #d1d5db;
    --input: #d1d5db;
    --ring: #1c1c28;
    --chart-1: #e35d38;
    --chart-2: #249c75;
    --chart-3: #184c62;
    --chart-4: #f0c13e;
    --chart-5: #f6a82b;
    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
    @apply box-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: background-color 5000s ease-in-out 0s;
  -webkit-box-shadow: 0 0 0px 1000px var(--muted, #ffffff00) inset;
}
